[Desktop Entry]
Comment[en_US]=Upgrade operating system
Comment[id]=Perbarui sistem operasi
Comment=Upgrade operating system
Exec=l7-tools --upgrade
GenericName[en_US]=Upgrade operating system
GenericName[id]=Perbarui sistem operasi
GenericName=Upgrade operating system
Icon=system-software-update
Name[en_US]=Upgrade System
Name[id]=Perbarui Sistem
Name=Upgrade System
NoDisplay=false
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
Categories=Qt;KDE;System;LangitKetujuh;
X-KDE-SubstituteUID=false
X-KDE-Username=
