[Desktop Entry]
Comment[en_US]=Upgrade Operating System
Comment[id]=Perbarui Sistem Operasi
Comment=Upgrade Operating System
Exec=l7-tools --upgrade
GenericName[en_US]=Upgrade Operating System
GenericName[id]=Perbarui Sistem Operasi
GenericName=Upgrade Operating System
Icon=system-software-update
Name[en_US]=Upgrade System
Name[id]=Perbarui Sistem
Name=Upgrade System
NoDisplay=false
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
Categories=Qt;KDE;System;LangitKetujuh;
X-KDE-SubstituteUID=false
X-KDE-Username=
